<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IAccountAuthDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.AccountAuth" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="AccoutId" property="accoutid" jdbcType="INTEGER" />
    <result column="MenuId" property="menuid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="OptName" property="optname" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="getMenuIdsByAccountId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select MenuId from AccountAuth with(nolock) where AccoutId=#{accoutid,jdbcType=INTEGER}
  </select>
  <update id="modifyAuthList" parameterType="java.util.List">
	 <foreach collection="list" index="index" item="item">    
IF EXISTS ( SELECT  1
            FROM    AccountAuth with(nolock)
            WHERE   AccoutId = #{item.accoutId,jdbcType=INTEGER} 
                    AND MenuId = #{item.menuId,jdbcType=INTEGER} )
    BEGIN
        DELETE  AccountAuth
        WHERE   AccoutId = #{item.accoutId,jdbcType=INTEGER}
                AND MenuId = #{item.menuId,jdbcType=INTEGER}
    END
ELSE
    INSERT  INTO AccountAuth
            ( AccoutId, MenuId,CreateTime, OptName)
    VALUES  ( #{item.accoutId,jdbcType=INTEGER}, #{item.menuId,jdbcType=INTEGER},
    getdate(),#{item.optName,jdbcType=NVARCHAR} )
     </foreach>
	</update>
</mapper>