<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IAccountInfoDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.AccountInfo" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Password" property="passWord" jdbcType="NVARCHAR" />
    <result column="UserName" property="userName" jdbcType="NVARCHAR" />
    <result column="LoginName" property="loginName" jdbcType="NVARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="AccountType" property="accountType" jdbcType="INTEGER" />
    <result column="RoleId" property="roleId" jdbcType="INTEGER" />
    <result column="LastChangeTime" property="lastChangeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.renrentui.renrenentity.AccountInfo" >
    insert into AccountInfo (Id, Password, UserName, 
      LoginName, Status, AccountType, 
      FADateTime, FAUser, LCDateTime, 
      LCUser, GroupId, RoleId, 
      LastChangeTime)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=NVARCHAR}, #{username,jdbcType=NVARCHAR}, 
      #{loginname,jdbcType=NVARCHAR}, #{status,jdbcType=INTEGER}, #{accounttype,jdbcType=INTEGER}, 
      #{fadatetime,jdbcType=TIMESTAMP}, #{fauser,jdbcType=NVARCHAR}, #{lcdatetime,jdbcType=TIMESTAMP}, 
      #{lcuser,jdbcType=NVARCHAR}, #{groupid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, 
      #{lastchangetime,jdbcType=TIMESTAMP})
  </insert>
  <sql id="queryWhere">
		1=1
		<if test="keyword != null and keyword!=''">
			and UserName like ''%${keyword}%''
		</if>
	</sql> 
<select id="query" resultType="com.renrentui.renrenentity.AccountInfo" parameterType="com.renrentui.renrenentity.req.PagedAccountInfoReq" statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
		' Id desc ',
		' Id,UserName,LoginName,Status ',
		' accountinfo(nolock) ',
		'
		<include refid="queryWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)} 
  </select>
  
  <select id="getByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
   * 
    from accountinfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getByRoleID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
* 
    from accountinfo
    where RoleId = #{roleID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accountinfo
    where Id = #{id,jdbcType=INTEGER}
  </delete>

   <select id="login" parameterType="java.util.Map" resultType="com.renrentui.renrenentity.AccountInfo">
  	SELECT TOP 1 [Id]
                ,[Password]
                ,[UserName]
                ,[LoginName]
                ,[Status]
                ,[AccountType]
                ,[RoleId]
            FROM [accountinfo] with(nolock)
            where LoginName=#{username,jdbcType=NVARCHAR} AND Password=#{password,jdbcType=NVARCHAR}
  </select>
  <update id="updateRoleID"  parameterType="java.util.Map" >
    update accountinfo set roleid=#{newRoleID,jdbcType=INTEGER}
    where Id = #{userID,jdbcType=INTEGER}
  </update>
</mapper>