<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IActivityDao">   
<update id="shutUpActivity" parameterType="com.renrentui.renrenentity.req.UpdateActivityReq">
  update dbo.Activity set [status]=0 where id=${id}
</update>
<update id="startUpActivity" parameterType="com.renrentui.renrenentity.req.UpdateActivityReq">
  update dbo.Activity set [status]=1 where id=${id}
</update>
<select id="getList" resultType="com.renrentui.renrenentity.Activity">
   select  Id ,
        ActivityName ,
        RewardMoney ,
        GrantProbability ,
        HadRewardCount ,
        HadRewardMoney ,
        StartTime ,
        EndTime ,
       [Status] FROM dbo.Activity(nolock) 
</select> 
<select id="getSingleActivity" resultType="com.renrentui.renrenentity.Activity" parameterType="java.lang.Integer" >
   select  Id ,
        ActivityName ,
        RewardMoney ,
        GrantProbability ,
        HadRewardCount ,
        HadRewardMoney ,
        StartTime ,
        EndTime ,
       [Status] FROM dbo.Activity(nolock) where id=#{id,jdbcType=INTEGER}
</select>
  <update  id="updateActityData" parameterType="java.lang.Integer" >
    update dbo.Activity set HadRewardCount=HadRewardCount+1,HadRewardMoney=RewardMoney*(HadRewardCount+1) where id=#{id,jdbcType=INTEGER}
  </update>
</mapper>