<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IAppVersionDao" >
 <sql id="Base_Column_List" >
id,version,ismust,updateurl,message,platform,usertype,createdate,
createby,updateDate,updateby,istiming,timingdate,pubstatus
  </sql>
  <select id="getByID" resultType="com.renrentui.renrenentity.AppVersion" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AppVersion with(nolock)
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="cancel" parameterType="java.util.Map" >
    update AppVersion set pubstatus=2 ,updateDate=getdate,updateby=#{userName,jdbcType=NVARCHAR} 
    where ID = #{id,jdbcType=INTEGER} and pubstatus=1
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.AppVersion" >
    insert into AppVersion (version,ismust,updateurl,message,platform,usertype,createdate,
createby,updateDate,updateby,istiming,timingdate,pubstatus)
    values (#{version,jdbcType=NVARCHAR}, #{isMust,jdbcType=INTEGER}, 
      #{updateUrl,jdbcType=NVARCHAR}, #{message,jdbcType=NVARCHAR},
       #{platForm,jdbcType=INTEGER}, 
      #{userType,jdbcType=INTEGER}, getdate(),
      #{createBy,jdbcType=NVARCHAR},getdate(),#{updateBy,jdbcType=NVARCHAR},
      #{isTiming,jdbcType=INTEGER},#{timingDate,jdbcType=TIMESTAMP},
      #{pubStatus,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.renrentui.renrenentity.AppVersion" >
    update AppVersion
    set Version = #{version,jdbcType=NVARCHAR},
      IsMust = #{isMust,jdbcType=INTEGER},
      UpdateUrl = #{updateUrl,jdbcType=NVARCHAR},
      Message = #{message,jdbcType=NVARCHAR},
      PlatForm = #{platForm,jdbcType=INTEGER},
      UserType = #{userType,jdbcType=INTEGER},
      updateDate = getdate(),
      updateby=#{updateBy,jdbcType=NVARCHAR},
      istiming = #{isTiming,jdbcType=INTEGER},
      timingdate = #{timingDate,jdbcType=TIMESTAMP},
      pubstatus = #{pubStatus,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryAppVersion" resultType="com.renrentui.renrenentity.AppVersion" 
  parameterType="com.renrentui.renrenentity.common.PagedRequestBase" statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
		' Id desc ',
		' id,version,ismust,updateurl,message,platform,usertype,createdate,
			createby,updateDate,updateby,istiming,timingdate,pubstatus',
		' AppVersion(nolock) ',
		' 1=1 ',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)} 
  </select>
  <update id="modify">
       UPDATE AppVersion 
       SET PubStatus=1
       WHERE  PubStatus=0 AND getdate()>TimingDate
  </update>

  
  <!--  app 版本控制 查询升级信息 add by caoheyang 20151013 -->
   <select id="getVersionCheck" resultType="com.renrentui.renrenentity.AppVersion" parameterType="com.renrentui.renrenentity.req.VersionCheckReq" >
	SELECT TOP 1 [Version],IsMust,UpdateUrl,[Message] FROM dbo.AppVersion with(nolock) 
	WHERE PubStatus<![CDATA[<]]>>2
	and [PlatForm]=#{platForm,jdbcType=TINYINT}
	AND UserType=#{userType,jdbcType=TINYINT} and TimingDate  <![CDATA[< getdate()]]>
	ORDER BY [Version] DESC
  </select>
  
</mapper>