<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IAttachmentDao" >
  <sql id="Base_Column_List" >
    Id,TaskId, AttachmentName, AttachUrl, UploadTime
  </sql>
  <select id="selectByTaskId" resultType="com.renrentui.renrenentity.Attachment" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Attachment
    where TaskId = #{taskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByTaskId" parameterType="java.lang.Long" >
    delete from Attachment
    where TaskId = #{taskId,jdbcType=BIGINT}
  </delete>
    <update id="insertList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" >
	insert into Attachment (TaskId, AttachmentName, AttachUrl, UploadTime)
    values (#{item.taskId,jdbcType=BIGINT}, 
      #{item.attachmentName,jdbcType=NVARCHAR}, #{item.attachUrl,jdbcType=NVARCHAR},
       getdate());
		</foreach>
	</update>
</mapper>