<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.api.dao.inter.IAttachmentDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.entity.Attachment" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="BusinessId" property="businessid" jdbcType="BIGINT" />
    <result column="TaskId" property="taskid" jdbcType="BIGINT" />
    <result column="AttachmentName" property="attachmentname" jdbcType="NVARCHAR" />
    <result column="AttachUrl" property="attachurl" jdbcType="NVARCHAR" />
    <result column="UploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, TaskId, AttachmentName, AttachUrl, UploadTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Attachment
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Attachment
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.entity.Attachment" >
    insert into Attachment (Id, BusinessId, TaskId, 
      AttachmentName, AttachUrl, UploadTime
      )
    values (#{id,jdbcType=BIGINT}, #{businessid,jdbcType=BIGINT}, #{taskid,jdbcType=BIGINT}, 
      #{attachmentname,jdbcType=NVARCHAR}, #{attachurl,jdbcType=NVARCHAR}, #{uploadtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.entity.Attachment" >
    insert into Attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="taskid != null" >
        TaskId,
      </if>
      <if test="attachmentname != null" >
        AttachmentName,
      </if>
      <if test="attachurl != null" >
        AttachUrl,
      </if>
      <if test="uploadtime != null" >
        UploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=BIGINT},
      </if>
      <if test="attachmentname != null" >
        #{attachmentname,jdbcType=NVARCHAR},
      </if>
      <if test="attachurl != null" >
        #{attachurl,jdbcType=NVARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.entity.Attachment" >
    update Attachment
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        TaskId = #{taskid,jdbcType=BIGINT},
      </if>
      <if test="attachmentname != null" >
        AttachmentName = #{attachmentname,jdbcType=NVARCHAR},
      </if>
      <if test="attachurl != null" >
        AttachUrl = #{attachurl,jdbcType=NVARCHAR},
      </if>
      <if test="uploadtime != null" >
        UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.entity.Attachment" >
    update Attachment
    set BusinessId = #{businessid,jdbcType=BIGINT},
      TaskId = #{taskid,jdbcType=BIGINT},
      AttachmentName = #{attachmentname,jdbcType=NVARCHAR},
      AttachUrl = #{attachurl,jdbcType=NVARCHAR},
      UploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>