<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IBusinessRechargeDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.BusinessRecharge" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="BusinessId" property="businessid" jdbcType="BIGINT" />
    <result column="PayType" property="paytype" jdbcType="INTEGER" />
    <result column="OrderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="PayAmount" property="payamount" jdbcType="DECIMAL" />
    <result column="PayStatus" property="paystatus" jdbcType="INTEGER" />
    <result column="PayBy" property="payby" jdbcType="NVARCHAR" />
    <result column="PayTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="OriginalOrderNo" property="originalorderno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, PayType, OrderNo, PayAmount, PayStatus, PayBy, PayTime, OriginalOrderNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BusinessRecharge
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BusinessRecharge
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.BusinessRecharge" >
    insert into BusinessRecharge (BusinessId, PayType, 
      OrderNo, PayAmount, PayStatus, 
      PayBy,  OriginalOrderNo
      )
    values ( #{businessId,jdbcType=BIGINT}, #{payType,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=VARCHAR}, #{payAmount,jdbcType=DECIMAL}, #{payStatus,jdbcType=INTEGER}, 
      #{payBy,jdbcType=NVARCHAR}, #{originalOrderNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.BusinessRecharge" >
    insert into BusinessRecharge
    <trim prefix="(" suffix=")" suffixOverrides="," >    
      <if test="businessId != null" >
        BusinessId,
      </if>
      <if test="paytype != null" >
        PayType,
      </if>
      <if test="orderno != null" >
        OrderNo,
      </if>
      <if test="payamount != null" >
        PayAmount,
      </if>
      <if test="paystatus != null" >
        PayStatus,
      </if>
      <if test="payby != null" >
        PayBy,
      </if>
      <if test="paytime != null" >
        PayTime,
      </if>
      <if test="originalorderno != null" >
        OriginalOrderNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >   
      <if test="businessId != null" >
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payBy != null" >
        #{payBy,jdbcType=NVARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="originalOrderNo != null" >
        #{originalOrderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.BusinessRecharge" >
    update BusinessRecharge
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=BIGINT},
      </if>
      <if test="paytype != null" >
        PayType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="payamount != null" >
        PayAmount = #{payamount,jdbcType=DECIMAL},
      </if>
      <if test="paystatus != null" >
        PayStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="payby != null" >
        PayBy = #{payby,jdbcType=NVARCHAR},
      </if>
      <if test="paytime != null" >
        PayTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="originalorderno != null" >
        OriginalOrderNo = #{originalorderno,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.BusinessRecharge" >
    update BusinessRecharge
    set BusinessId = #{businessid,jdbcType=BIGINT},
      PayType = #{paytype,jdbcType=INTEGER},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      PayAmount = #{payamount,jdbcType=DECIMAL},
      PayStatus = #{paystatus,jdbcType=INTEGER},
      PayBy = #{payby,jdbcType=NVARCHAR},
      PayTime = #{paytime,jdbcType=TIMESTAMP},
      OriginalOrderNo = #{originalorderno,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>