<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IBusinessBalanceDao" >
  <sql id="Base_Column_List" >
    Id, BusinessId, Balance
  </sql>
  <select id="selectByBusinessId" resultType="com.renrentui.renrenentity.BusinessBalance" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BusinessBalance
    where businessId = #{businessId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BusinessBalance
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.BusinessBalance" >
    insert into BusinessBalance (BusinessId, Balance
      )
    values (#{businessId,jdbcType=BIGINT}, #{balance,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.BusinessBalance" >
    insert into BusinessBalance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=BIGINT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.BusinessBalance" >
    update BusinessBalance
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=BIGINT},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.BusinessBalance" >
    update BusinessBalance
    set BusinessId = #{businessid,jdbcType=BIGINT},
      Balance = #{balance,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByBusinessId" parameterType="com.renrentui.renrenentity.req.BusinessBalanceReq" >
       update BusinessBalance
    set  Balance =Balance+ #{balance,jdbcType=DECIMAL}
    where BusinessId = #{businessId,jdbcType=BIGINT}
  </update>
</mapper>