<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterWithdrawFormDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.ClienterWithdrawForm" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterId" property="clienterid" jdbcType="BIGINT" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="WithdrawNo" property="withdrawno" jdbcType="VARCHAR" />
    <result column="WithType" property="withtype" jdbcType="SMALLINT" />
    <result column="AccountInfo" property="accountinfo" jdbcType="VARCHAR" />
    <result column="TrueName" property="truename" jdbcType="NVARCHAR" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="AuditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="AuditName" property="auditname" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, Amount, WithdrawNo, WithType, AccountInfo, TrueName, Status, CreateTime, 
    AuditTime, AuditName
  </sql>
  <sql id="Sp_Column_List" >
    cwf.Id, cwf.ClienterId, cwf.Amount, cwf.WithdrawNo, cwf.WithType, cwf.AccountInfo, cwf.TrueName, cwf.Status, cwf.CreateTime, 
    cwf.AuditTime, cwf.AuditName,c.clienterName,c.phoneNo
  </sql>
    <sql id="getListWhere">

		1=1		
		<if test="withdrawNo != null and withdrawNo!=''">
			and cwf.withdrawNo=''${withdrawNo}''
		</if>		
		<if test="phoneNo != null and phoneNo!=''">
			and c.phoneNo=''${phoneNo}''
		</if>
		<if test="status != -1 ">
			and cwf.status=${status}
		</if>	
		<if test="clienterName != null and clienterName!=''">
			and c.clienterName LIKE ''%${clienterName}%''
		</if> 
	
	</sql>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterWithdrawForm
    where Id = #{id,jdbcType=BIGINT}
  </select>
    
    <select id="selectById" resultType="com.renrentui.renrenentity.ClienterWithdrawForm"
   parameterType="java.lang.Integer" >
    select 
    Id, ClienterId, Amount, WithdrawNo, WithType, AccountInfo, TrueName, Status, CreateTime, 
    AuditTime, AuditName
    from ClienterWithdrawForm
    where Id = #{id,jdbcType=BIGINT}
  </select>
  
    	<select id="getList" resultType="com.renrentui.renrenentity.domain.ClienterWithdrawFormDM"
		parameterType="com.renrentui.renrenentity.req.PagedClienterWithdrawFormReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' cwf.Id  ',
		'
		<include refid="Sp_Column_List" />
		',
		'ClienterWithdrawForm cwf WITH (NOLOCK) left join Clienter c with (nolock) on cwf.ClienterId=c.Id',
		'
		<include refid="getListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterWithdrawForm
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.ClienterWithdrawForm" useGeneratedKeys="true" keyProperty="id" >
    insert into ClienterWithdrawForm (ClienterId, Amount, 
      WithdrawNo, WithType, AccountInfo, 
      TrueName, Status,ActualAmount,HandCharge,ActualHandCharge )
    values (#{clienterId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, 
      #{withdrawNo,jdbcType=VARCHAR}, #{withType,jdbcType=SMALLINT}, #{accountInfo,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=NVARCHAR}, #{status,jdbcType=SMALLINT},#{actualAmount,jdbcType=DECIMAL},#{handCharge,jdbcType=DECIMAL},#{actualHandCharge,jdbcType=DECIMAL}
     )
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.ClienterWithdrawForm" >
    insert into ClienterWithdrawForm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="withdrawno != null" >
        WithdrawNo,
      </if>
      <if test="withtype != null" >
        WithType,
      </if>
      <if test="accountinfo != null" >
        AccountInfo,
      </if>
      <if test="truename != null" >
        TrueName,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="audittime != null" >
        AuditTime,
      </if>
      <if test="auditname != null" >
        AuditName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="withdrawno != null" >
        #{withdrawno,jdbcType=VARCHAR},
      </if>
      <if test="withtype != null" >
        #{withtype,jdbcType=SMALLINT},
      </if>
      <if test="accountinfo != null" >
        #{accountinfo,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditname != null" >
        #{auditname,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.ClienterWithdrawForm" >
    update ClienterWithdrawForm
    <set >
      <if test="clienterId != null" >
        ClienterId = #{clienterId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="withdrawNo != null" >
        WithdrawNo = #{withdrawNo,jdbcType=VARCHAR},
      </if>
      <if test="withType != null" >
        WithType = #{withType,jdbcType=SMALLINT},
      </if>
      <if test="accountInfo != null" >
        AccountInfo = #{accountInfo,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        TrueName = #{trueName,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        AuditTime = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditName != null" >
        AuditName = #{auditName,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.ClienterWithdrawForm" >
    update ClienterWithdrawForm
    set ClienterId = #{clienterid,jdbcType=BIGINT},
      Amount = #{amount,jdbcType=DECIMAL},
      WithdrawNo = #{withdrawno,jdbcType=VARCHAR},
      WithType = #{withtype,jdbcType=SMALLINT},
      AccountInfo = #{accountinfo,jdbcType=VARCHAR},
      TrueName = #{truename,jdbcType=NVARCHAR},
      Status = #{status,jdbcType=SMALLINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      AuditTime = #{audittime,jdbcType=TIMESTAMP},
      AuditName = #{auditname,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="checkAlipayBatch" resultType="java.lang.Integer" parameterType="com.renrentui.renrenentity.domain.AlipayBatchModel">
	  SELECT COUNT(1) FROM dbo.AlipayBatch AS ab  WHERE ab.BatchNo=#{batchNo,jdbcType=VARCHAR} AND ab.Status=#{status,jdbcType=SMALLINT} 
  </select>
  <select id="getWithdrawListForAlipay" resultType="com.renrentui.renrenentity.domain.AlipayClienterWithdrawModel" parameterType="com.renrentui.renrenentity.req.AlipayBatchReq">
	  SELECT  Id, 
        WithdrawNo, 
        Amount , 
        TrueName , 
        AccountInfo , 
        ActualAmount , 
        ActualHandCharge,
        AlipayBatchNo
FROM    dbo.ClienterWithdrawForm AS cwf(NOLOCK) 
WHERE   1 = 1 
	  <if test="type == 1" >
         AND cwf.Status = 1  AND WithType = 1 AND ISNULL(cwf.AlipayBatchNo, '') = '' AND cwf.id IN 
         <foreach collection="dataList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach>
      </if>
      <if test="type == 2" >
          AND cwf.Status = 20 AND WithType = 1 AND ISNULL(cwf.AlipayBatchNo, '') = '${data}' 
      </if>
  </select>  
  <insert id="insertLog" parameterType="com.renrentui.renrenentity.domain.ClienterWithdrawLog" >
    insert into ClienterWithdrawLog(WithwardId,Status,Remark,Operator)
values(#{withwardId,jdbcType=BIGINT},#{status,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR}) 
  </insert>
  <update id="updateAlipayBatchNo" parameterType="com.renrentui.renrenentity.domain.AlipayBatchModel" > 
    update  dbo.AlipayBatch
set     [Status] = 1 ,
        CallbackTime = getdate() ,
        SuccessTimes = 1 ,
        FailTimes = 0
where   BatchNo = '1'
  </update>
  <insert id="insertAlipayBatch" parameterType="com.renrentui.renrenentity.domain.AlipayBatchModel" >
    INSERT INTO dbo.AlipayBatch
              ( BatchNo ,
                TotalWithdraw ,
                OptTimes ,
                WithdrawNos ,
                WithdrawIds ,
                CreateBy ,
                LastOptUser ,
                Remarks
              )
      VALUES  ( 
				#{batchNo,jdbcType=VARCHAR} ,
                #{totalWithdraw,jdbcType=DOUBLE} ,
                #{optTimes,jdbcType=INTEGER} ,
                #{withdrawNos,jdbcType=VARCHAR} ,
                #{withdrawIds,jdbcType=VARCHAR} ,
                #{createBy,jdbcType=VARCHAR} ,
                #{lastOptUser,jdbcType=VARCHAR} ,
                #{remarks,jdbcType=VARCHAR}
              )
  </insert>
  <update id="updateAlipayBatchForAgain" parameterType="com.renrentui.renrenentity.domain.AlipayBatchModel" >
    UPDATE  dbo.AlipayBatch 
    	SET LastOptUser=#{lastOptUser,jdbcType=VARCHAR},
        	LastOptTime = GETDATE(),
        	Remarks=Remarks + #{remarks,jdbcType=VARCHAR}+'',
        	BatchNo=#{newBatchNo,jdbcType=VARCHAR}
		WHERE BatchNo = #{batchNo,jdbcType=VARCHAR}
  </update>
  
  
</mapper>