<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterRelationDao" >
<select id="getRelastionListByClienterId" resultType="com.renrentui.renrenentity.ClienterRelation" parameterType="java.lang.Long">
SELECT  Id ,
        ClienterId ,
        OtherClienterId ,
        OcJibie ,
        ClienterLevel ,
        CreateDate FROM dbo.ClienterRelation AS cr(NOLOCK)
        WHERE cr.ClienterId=#{clienterId,jdbcType=BIGINT}
        ORDER BY OcJibie ASC
</select>
<!-- 插入一个层级关系 茹化肖 2015年12月30日11:02:29 -->
<insert id="insertClienterRelation" parameterType="com.renrentui.renrenentity.ClienterRelation" >
INSERT INTO dbo.ClienterRelation
        ( ClienterId ,
          OtherClienterId ,
          OcJibie ,
          ClienterLevel
        )
VALUES  ( #{clienterId,jdbcType=BIGINT} , -- ClienterId - bigint
          #{otherClienterId,jdbcType=BIGINT} , -- OtherClienterId - bigint
          #{ocJibie,jdbcType=INTEGER} , -- OcJibie - int
          #{clienterLevel,jdbcType=INTEGER} 
        )
</insert>
</mapper>