<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterBalanceRecordDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.ClienterBalanceRecord" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterId" property="clienterId" jdbcType="BIGINT" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="AfterAmount" property="afterAmount" jdbcType="DECIMAL" />
    <result column="RecordType" property="recordType" jdbcType="SMALLINT" />
    <result column="OptName" property="optName" jdbcType="NVARCHAR" />
    <result column="OperateTime" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="OrderId" property="orderId" jdbcType="BIGINT" />
    <result column="RelationNo" property="relationNo" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />    
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, Amount, AfterAmount, RecordType, OptName, OperateTime, OrderId, RelationNo, 
    Remark,Status
  </sql>

    <select id="getRecordList" resultMap="BaseResultMap" parameterType="com.renrentui.renrenentity.req.GetIncomeReq" >
  SELECT   	
  <if test="itemsCount != 0" >
		top  ${itemsCount} 
  </if>
  	Id, Amount,RecordType,OperateTime,Remark
    from ClienterBalanceRecord with(nolock)
    where ClienterId = #{userId,jdbcType=BIGINT}
     <if test="recordType == 1" >
        and Amount>=0
      </if>
       <if test="recordType == 2" >
        and 0>Amount
      </if>
    <if test="nextId != 0" >
	     and  ${nextId} > id 
	</if>
	order by id desc;
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where OrderId = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord"  >
       insert into
		ClienterBalanceRecord
		(ClienterId,Amount,AfterAmount,RecordType,OptName,OrderId,RelationNo,Remark,status)
		select #{clienterId,jdbcType=INTEGER},
		#{amount,jdbcType=DECIMAL},cb.Balance+#{amount,jdbcType=DECIMAL},#{recordType,jdbcType=SMALLINT},#{optName,jdbcType=NVARCHAR}
		,#{orderId,jdbcType=BIGINT},#{relationNo,jdbcType=VARCHAR},#{remark,jdbcType=NVARCHAR},#{status,jdbcType=SMALLINT}
		from dbo.ClienterBalance  as cb where cb.ClienterId=#{clienterId,jdbcType=BIGINT} ;
		select @@IDENTITY
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    insert into ClienterBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="afteramount != null" >
        AfterAmount,
      </if>
      <if test="recordtype != null" >
        RecordType,
      </if>
      <if test="optname != null" >
        OptName,
      </if>
      <if test="operatetime != null" >
        OperateTime,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
      <if test="relationno != null" >
        RelationNo,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="afteramount != null" >
        #{afteramount,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    <set >
      <if test="clienterId != null" >
        ClienterId = #{clienterId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="afterAmount != null" >
        AfterAmount = #{afterAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordType != null" >
        RecordType = #{recordType,jdbcType=SMALLINT},
      </if>
      <if test="optName != null" >
        OptName = #{optName,jdbcType=NVARCHAR},
      </if>
      <if test="operateTime != null" >
        OperateTime = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        OrderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="relationNo != null" >
        RelationNo = #{relationNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
       <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    set ClienterId = #{clienterId,jdbcType=BIGINT},
      Amount = #{amount,jdbcType=DECIMAL},
      AfterAmount = #{afteramount,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      OptName = #{optname,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      OrderId = #{orderid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateStatusByOrderId" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    set   status = #{status,jdbcType=SMALLINT}   
    where OrderId = #{orderId,jdbcType=BIGINT}
  </update>
     <!-- 获取地推员余额流水列表的分页 -->
  	<sql id="getRecordListPage_Where">
		cbr.ClienterId=${clienterId}
		<if test="recordType !=0">
			AND cbr.recordType=${recordType}
		</if>
		<if test="orderId != 0">
			AND cbr.orderId=${orderId}
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND cbr.OperateTime > ''${beginDate}''
		</if>
		<if test="endDate != null and endDate != ''">
			AND  ''${endDate}''> cbr.OperateTime
		</if>
	</sql>
  <select id="getRecordListPage" resultType="com.renrentui.renrenentity.ClienterBalanceRecord" 
  parameterType="com.renrentui.renrenentity.req.ClienterBlanceRecordReq" statementType="CALLABLE">  
{call Sp_CustomPage2015_V1(
' Id DESC ',
' RecordType ,
        OrderId ,
        RelationNo ,
        Amount ,
        AfterAmount ,
        Status ,
        OperateTime ,
        OptName ,
        Remark',
' dbo.ClienterBalanceRecord AS cbr(NOLOCK)',
' <include refid="getRecordListPage_Where"/> ',
#{pageSize,mode=IN,jdbcType=INTEGER},
#{currentPage,mode=IN,jdbcType=INTEGER},
1,
#{totalRecord,mode=OUT,jdbcType=VARCHAR},
#{totalPage,mode=OUT,jdbcType=VARCHAR}
)} 
  </select>
  
  <select id="getSubmissionTip" parameterType="java.lang.Long" resultType="com.renrentui.renrenentity.domain.SubmissionTip">
  SELECT  c.ClienterName ,
        c.PhoneNo ,
        cbr.Amount
FROM    dbo.ClienterBalanceRecord AS cbr ( NOLOCK )
        LEFT JOIN dbo.Clienter AS c ( NOLOCK ) ON cbr.ClienterId = c.id
WHERE   cbr.RecordType = 5
        AND cbr.OrderId = #{orderId,jdbcType=BIGINT}
  </select>
  <!-- 提现失败时插入日志 wangchao -->
  <insert id="insertClienterBalanceFailRecord" parameterType="com.renrentui.renrenentity.domain.ClienterWithdrawLogModel" >
   		insert into ClienterBalanceRecord
            ([ClienterId]
           ,[Amount]
           ,[Status]
           ,[AfterAmount]
           ,[RecordType]
           ,[OptName]
           ,[OperateTime]
           ,[OrderId]
           ,[RelationNo]
           ,[Remark])
select      cwf.[ClienterId]
           ,ISNULL(cwf.[Amount],0) Amount
           ,1
           ,ISNULL(cwf.[Amount],0)+ISNULL(c.Balance,0) AfterAmount
           ,4 [RecordType]
           ,'admin'
           ,getdate() OperateTime
           ,cwf.Id OrderId
           ,cwf.WithdrawNo RelationNo
           ,#{remark,jdbcType=VARCHAR}
 from ClienterWithdrawForm cwf(nolock)
    join dbo.ClienterBalance c (nolock) on c.ClienterId=cwf.ClienterId
 where cwf.Id=#{withwardId,jdbcType=BIGINT}
  </insert>
</mapper>