<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.Clienter" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterName" property="clientername" jdbcType="NVARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="LoginName" property="loginname" jdbcType="VARCHAR" />
    <result column="HeadImage" property="headimage" jdbcType="VARCHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
    <result column="CityCode" property="citycode" jdbcType="INTEGER" />
    <result column="Sex" property="sex" jdbcType="SMALLINT" />
    <result column="Age" property="age" jdbcType="INTEGER" />
    <result column="Education" property="education" jdbcType="NVARCHAR" />
    <result column="LastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="LastOptName" property="lastoptname" jdbcType="NVARCHAR" />
    <result column="LastOptTime" property="lastopttime" jdbcType="TIMESTAMP" />
    <result column="birthDay" property="birthDay" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterName, PhoneNo, Password, LoginName, HeadImage, CityName, CityCode, Sex, 
    Age, Education, LastLoginTime, CreateTime, Status, LastOptName, LastOptTime,RecommendPhone,OperSystem,birthDay
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Clienter
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.req.SignUpReq" >
	  <selectKey resultType="java.lang.Long" keyProperty="id"
				order="AFTER">
				select @@IDENTITY as id
	  </selectKey>
	    insert into Clienter (ClienterName, PhoneNo, Password,[Status],RecommendPhone,OperSystem)
	    values (#{name,jdbcType=NVARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR},1,#{recommendPhone,jdbcType=VARCHAR},#{operSystem,jdbcType=VARCHAR});
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.Clienter" >
    insert into Clienter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clientername != null" >
        ClienterName,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="loginname != null" >
        LoginName,
      </if>
      <if test="headimage != null" >
        HeadImage,
      </if>
      <if test="cityname != null" >
        CityName,
      </if>
      <if test="citycode != null" >
        CityCode,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="education != null" >
        Education,
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="lastoptname != null" >
        LastOptName,
      </if>
      <if test="lastopttime != null" >
        LastOptTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientername != null" >
        #{clientername,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="headimage != null" >
        #{headimage,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=NVARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=NVARCHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastoptname != null" >
        #{lastoptname,jdbcType=NVARCHAR},
      </if>
      <if test="lastopttime != null" >
        #{lastopttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.Clienter" >
    update Clienter
    <set >
      <if test="clienterName != null and clienterName!=''" >
        ClienterName = #{clienterName,jdbcType=NVARCHAR},
      </if>
      <if test="phoneNo != null and phoneNo!=''" >
        PhoneNo = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null and passWord!=''" >
        Password = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null and loginName!=''" >
        LoginName = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null and headImage!=''" >
        HeadImage = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null and cityName!=''" >
        CityName = #{cityName,jdbcType=NVARCHAR},
      </if>
      <if test="cityCode != null and cityCode>0" >
        CityCode = #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="sex != null and sex>0" >
        Sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null and age>0" >
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null and education!=''" >
        Education = #{education,jdbcType=NVARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        LastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status>=0" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastOptName != null and lastOptName!=''" >
        LastOptName = #{lastOptName,jdbcType=NVARCHAR},
      </if>
      <if test="birthDay != null and birthDay!=''" >
        birthDay = #{birthDay,jdbcType=TIMESTAMP},
      </if>
        LastOptTime = getdate()
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 验证手机号是否存在 2015年9月28日11:56:13 茹化肖 -->
  <select id="isExistPhone" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.PhoneNo=#{phoneNo,jdbcType=VARCHAR}
  </select>
  <!-- 根据地推员手机号获取id wangchao -->
    <select id="getClienterId" resultType="int" parameterType="java.util.HashMap" >
    SELECT top 1 Id FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.PhoneNo=#{phoneNo,jdbcType=VARCHAR}
  </select>
    <!-- 验证手机号是否绑定过微信 wangchao -->
  <select id="isBindWx" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.ClienterWx AS C (NOLOCK)
	WHERE C.ClienterId=#{clienterId,jdbcType=INTEGER} AND c.OpenId=#{openid,jdbcType=VARCHAR}
  </select>
  <!-- 更新地推员绑定微信记录和 日志 wangchao -->
  <update  id="updateClienterBindWx" parameterType="java.util.HashMap" >
	  update  dbo.ClienterWx
		set     ClienterId = #{clienterId,jdbcType=INTEGER}
		output  Inserted.OpenId ,
		        Inserted.FollowStatus ,
		        getdate() ,
		        Inserted.ClienterId
		        into dbo.ClienterWxLog ( OpenId, FollowStatus, OptTime, ClienterId )
		where   OpenId = #{openid,jdbcType=VARCHAR}
		        and FollowStatus = 1
  </update>
  <!-- 通过手机号修改密码 -->
  <update  id="forgotPassword" parameterType="com.renrentui.renrenentity.req.ForgotPwdReq" >
    UPDATE dbo.Clienter SET Password='${passWord}' WHERE PhoneNo='${phoneNo}'
  </update>
  <!-- 验证用户密码是否正确 2015年9月28日11:56:13 茹化肖 -->
  <select id="isRightPwd" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.id=#{uid,jdbcType=BIGINT} AND C.Password=#{md5Pwd,jdbcType=VARCHAR}
  </select>
  <!-- 通过CID修改密码 茹化肖 2015年9月28日15:12:18-->
  <update  id="modifyPwdUserc" parameterType="com.renrentui.renrenentity.req.ModifyPwdReq" >
    UPDATE dbo.Clienter SET Password='${newPwd}' WHERE id =${userId}
  </update>
  <!-- 查询C端用户信息 2015年9月28日16:24:39 WangXuDan -->
  <select id="queryClienter" resultType="com.renrentui.renrenentity.Clienter" parameterType="com.renrentui.renrenentity.req.SignInReq" >
    SELECT    Id
		    , ClienterName
		    , PhoneNo
		    , Password
		    , LoginName
		    , HeadImage
		    , CityName
		    , CityCode
		    , Sex
		    , Age
		    , Education
		    , LastLoginTime
		    , CreateTime
		    , Status
		    , LastOptName
		    , LastOptTime
    FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.PhoneNo=#{phoneNo,jdbcType=VARCHAR}
		AND C.Password=#{passWord,jdbcType=VARCHAR}
  </select>
  <!-- 根据用户Id判断是否存在  2015年9月28日17:20:58 WangXuDan -->
  <select id="isExistUserC" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.Id=#{userId}
  </select>
  <!-- 获取用户信息  2015年9月28日17:37:27 WangXuDan，20151231，zhaohl修改 -->
  <select id="getUserC" resultType="com.renrentui.renrenentity.domain.ClienterDetail" parameterType="java.util.HashMap" >
DECLARE @checkingTotal DECIMAL
DECLARE @WithdrawingTotal DECIMAL

SELECT  @checkingTotal = ISNULL(SUM(o.Amount), 0)
FROM    dbo.[Order] o WITH ( NOLOCK )
WHERE   o.OrderStatus = 1
        AND o.AuditStatus = 0
        AND ClienterId = #{userId}
        
SELECT  @WithdrawingTotal = ISNULL(SUM(Amount), 0)
FROM    dbo.ClienterWithdrawForm cwf WITH ( NOLOCK )
WHERE   Status = 0
        AND ClienterId = #{userId}
        
SELECT  c.[Id] ,
        c.[ClienterName] ,
        c.[PhoneNo] ,
        c.[Password] ,
        c.[LoginName] ,
        c.[HeadImage] ,
        c.[CityName] ,
        c.[CityCode] ,
        c.[Sex] ,
        c.[Age] ,
        c.[BirthDay] ,
        c.[Education] ,
        c.[LastLoginTime] ,
        c.[CreateTime] ,
        c.[Status] ,
        c.[LastOptName] ,
        c.[LastOptTime] ,
        ISNULL(cb.Balance, 0) Balance ,
        ISNULL(cb.Withdraw, 0) Withdraw ,
        ISNULL(cb.HadWithdraw, 0) HadWithdraw ,
        @checkingTotal checking ,
        @WithdrawingTotal Withdrawing ,
        ( ISNULL(cb.Balance, 0) + ISNULL(cb.HadWithdraw, 0)+ @WithdrawingTotal ) TotalAmount ,
        ISNULL(k.AccountNo, '') AccountNo ,
        ISNULL(k.TrueName, '') TrueName ,
        ISNULL(k.AccountType, -1) AccountType
FROM    dbo.Clienter c WITH ( NOLOCK )
        JOIN dbo.ClienterBalance cb WITH ( NOLOCK ) ON c.Id = cb.ClienterId
        LEFT JOIN ClienterFinanceAcount k WITH ( NOLOCK ) ON k.ClienterId = c.id
WHERE   c.Id = #{userId}
  </select>
  <!-- 获取地推员列表的分页存储过程_列名 WangXuDan 2015年9月29日16:30:06 -->
  <sql id="getClienterList_Column">
	   c.[Id]
      ,c.[ClienterName]
      ,c.[PhoneNo]
      ,c.[Password]
      ,c.[LoginName]
      ,c.[HeadImage]
      ,c.[CityName]
      ,c.[CityCode]
      ,c.[Sex]
      ,c.[Age]
      ,c.[BirthDay]
      ,c.[Education]
      ,c.[LastLoginTime]
      ,c.[CreateTime]
      ,c.[Status]
      ,c.[LastOptName]
      ,c.[LastOptTime]
      ,c.RecommendPhone
      ,ISNULL(cb.Balance,0) Balance 
      ,ISNULL(cb.Withdraw,0) Withdraw
      ,ISNULL(cb.HadWithdraw,0) HadWithdraw,
        ( SELECT    ISNULL(SUM(Amount), 0)
          FROM      dbo.ClienterBalanceRecord AS cbr ( NOLOCK )
          WHERE     cbr.RecordType = 5
                    AND cbr.ClienterId = c.id
        ) AS SubAmount
	</sql>
	
	<!-- 获取地推员列表的分页存储过程_条件 WangXuDan 2015年9月29日16:30:34 -->
  	<sql id="getClienterList_Where">
		1=1
		<if test="status >=0">
			AND c.Status=${status}
		</if>
		<if test="phoneNo != null and phoneNo != ''">
			AND c.PhoneNo=''${phoneNo}''
		</if>
		<if test="clienterName != null and clienterName != ''">
			AND c.ClienterName LIKE ''%${clienterName}%''
		</if>
	</sql>
   <!-- 获取地推员列表的分页存储过程 WangXuDan 2015年9月29日16:30:49 -->
  <select id="queryClienterList" resultType="com.renrentui.renrenentity.resp.ClienterResp" 
  parameterType="com.renrentui.renrenentity.req.ClienterReq" statementType="CALLABLE">  
{call Sp_CustomPage2015_V1(
' c.Id DESC ',
'<include refid="getClienterList_Column"/> ',
' dbo.Clienter c WITH(NOLOCK)
  JOIN dbo.ClienterBalance cb WITH(NOLOCK) ON c.Id=cb.ClienterId ',
' <include refid="getClienterList_Where"/> ',
#{pageSize,mode=IN,jdbcType=INTEGER},
#{currentPage,mode=IN,jdbcType=INTEGER},
1,
#{totalRecord,mode=OUT,jdbcType=VARCHAR},
#{totalPage,mode=OUT,jdbcType=VARCHAR}
)} 
  </select>
  <!-- 修改用户状态  WangXuDan 2015年10月8日11:18:19-->
  <update  id="editClienterStatus" parameterType="com.renrentui.renrenentity.req.ModifyClienterStatusReq" >
    UPDATE dbo.Clienter SET Status=${status},LastOptTime=GETDATE(),LastOptName='${lastOptName}' WHERE id =#{userId}
  </update>
  <!-- 插入登录日志  茹化肖 2015年12月16日19:12:15-->
  <insert  id="insertLoginLog" parameterType="com.renrentui.renrenentity.ClienterLoginLog" >
    INSERT INTO dbo.ClienterLoginLog
        ( ClienterId ,
          PhoneNo ,
          SSID ,
          OperSystem ,
          OperSystemModel ,
          PhoneType ,
          AppVersion ,
          CreateTime ,
          Description ,
          IsSuccess
        )
VALUES  ( ${clienterId} , -- ClienterId - int
          N'${phoneNo}' , -- PhoneNo - nvarchar(20)
          N'${sSID}' , -- SSID - nvarchar(100)
          N'${operSystem}' , -- OperSystem - nvarchar(20)
          N'${operSystemModel}' , -- OperSystemModel - nvarchar(20)
          N'${phoneType}' , -- PhoneType - nvarchar(20)
          N'${appVersion}' , -- AppVersion - nvarchar(20)
          GETDATE() , -- CreateTime - datetime
          N'${description}' , -- Description - nvarchar(255)
          ${isSuccess}  -- IsSuccess - smallint
        )
  </insert>
  <!-- 通过手机号查询用户信息 -->
  <select id="getClienterByPhoneNo" resultType="com.renrentui.renrenentity.Clienter" parameterType="java.lang.String">
  SELECT TOP 1   Id ,
        ClienterName ,
        PhoneNo ,
        Password ,
        LoginName ,
        HeadImage ,
        CityName ,
        CityCode ,
        Sex ,
        Age ,
        Education ,
        LastLoginTime ,
        CreateTime ,
        Status ,
        LastOptName ,
        LastOptTime ,
        RecommendPhone FROM 
dbo.Clienter AS c (NOLOCK)
WHERE PhoneNo=#{phoneNo,jdbcType=VARCHAR}
  </select>
  <!-- 查询某个任务的所有参与人20151231,zhaohl-->
  <select id="getClienterListByTaskId" resultType="com.renrentui.renrenentity.domain.PartnerDetail" 
  parameterType="com.renrentui.renrenentity.req.PartnerListReq" >
	select 
	<if test="itemsCount != 0" >
		top  ${itemsCount} 
	</if>
		b.id as ctId,
 		a.id as ClienterId,
        a.ClienterName ,
        a.PhoneNo ,
        a.HeadImage
FROM    dbo.Clienter a WITH ( NOLOCK )
        JOIN dbo.ClienterTask b WITH ( NOLOCK ) ON a.id = b.ClienterId
WHERE b.taskid=#{taskId,jdbcType=BIGINT}
<if test="nextId != 0" >
	and   ${nextId}>b.id
</if>
order by b.id desc;
</select>
<select id="getClienterListByTaskIdTotal" resultType="java.lang.Long" 
  parameterType="java.lang.Long" >
select  count(0) as num 
FROM    dbo.Clienter a WITH ( NOLOCK )
        JOIN dbo.ClienterTask b WITH ( NOLOCK ) ON a.id = b.ClienterId
WHERE b.taskid=#{taskId,jdbcType=BIGINT}
</select>
<select id="getPartnerInfo" resultType="com.renrentui.renrenentity.domain.PartnerModel" 
  parameterType="java.lang.Long" >
        DECLARE @RecommendPhone VARCHAR(50)
        DECLARE @PartnerNum INT
        DECLARE @BonusTotal DECIMAL(18,2)
        
        SELECT  @RecommendPhone = RecommendPhone
        FROM    Clienter with(nolock)
        WHERE   id = #{userId,jdbcType=BIGINT}
        
        SELECT  @PartnerNum = COUNT(0)
        FROM    dbo.ClienterRelation with(nolock)
        WHERE   OtherClienterId = #{userId,jdbcType=BIGINT}
        
        SELECT  @BonusTotal = ISNULL(SUM(amount), 0)
        FROM    dbo.ClienterBalanceRecord with(nolock)
        WHERE   ClienterId = #{userId,jdbcType=BIGINT}
                AND RecordType = 5
                
        SELECT  @RecommendPhone AS recommendPhone ,
                @PartnerNum AS partnerNum ,
                @BonusTotal AS bonusTotal
</select> 
<select id="getClienterById" resultType="com.renrentui.renrenentity.Clienter" 
  parameterType="java.lang.Long" >
  SELECT * FROM dbo.Clienter AS c (NOLOCK) WHERE id =#{cid,jdbcType=BIGINT}
</select>   
<select id="getClienterheadimg" resultType="java.lang.String">
  SELECT HeadImage FROM dbo.Clienter AS c (NOLOCK) WHERE isnull(HeadImage,'')!=''
</select> 
</mapper>