<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.Clienter" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterName" property="clientername" jdbcType="NVARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="LoginName" property="loginname" jdbcType="VARCHAR" />
    <result column="HeadImage" property="headimage" jdbcType="VARCHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
    <result column="CityCode" property="citycode" jdbcType="INTEGER" />
    <result column="Sex" property="sex" jdbcType="SMALLINT" />
    <result column="Age" property="age" jdbcType="INTEGER" />
    <result column="Education" property="education" jdbcType="NVARCHAR" />
    <result column="LastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="LastOptName" property="lastoptname" jdbcType="NVARCHAR" />
    <result column="LastOptTime" property="lastopttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterName, PhoneNo, Password, LoginName, HeadImage, CityName, CityCode, Sex, 
    Age, Education, LastLoginTime, CreateTime, Status, LastOptName, LastOptTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Clienter
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Clienter
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.req.SignUpReq" >
	  <selectKey resultType="java.lang.Long" keyProperty="id"
				order="AFTER">
				select @@IDENTITY as id
	  </selectKey>
	    insert into Clienter (ClienterName, PhoneNo, Password)
	    values (#{name,jdbcType=NVARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR});
<!-- 		values('1','1','1') -->
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.Clienter" >
    insert into Clienter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clientername != null" >
        ClienterName,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="loginname != null" >
        LoginName,
      </if>
      <if test="headimage != null" >
        HeadImage,
      </if>
      <if test="cityname != null" >
        CityName,
      </if>
      <if test="citycode != null" >
        CityCode,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="education != null" >
        Education,
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="lastoptname != null" >
        LastOptName,
      </if>
      <if test="lastopttime != null" >
        LastOptTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientername != null" >
        #{clientername,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="headimage != null" >
        #{headimage,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=NVARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=NVARCHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastoptname != null" >
        #{lastoptname,jdbcType=NVARCHAR},
      </if>
      <if test="lastopttime != null" >
        #{lastopttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.Clienter" >
    update Clienter
    <set >
      <if test="clientername != null" >
        ClienterName = #{clientername,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        PhoneNo = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        LoginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="headimage != null" >
        HeadImage = #{headimage,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        CityName = #{cityname,jdbcType=NVARCHAR},
      </if>
      <if test="citycode != null" >
        CityCode = #{citycode,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null" >
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        Education = #{education,jdbcType=NVARCHAR},
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastoptname != null" >
        LastOptName = #{lastoptname,jdbcType=NVARCHAR},
      </if>
      <if test="lastopttime != null" >
        LastOptTime = #{lastopttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.Clienter" >
    update Clienter
    set ClienterName = #{clientername,jdbcType=NVARCHAR},
      PhoneNo = #{phoneno,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      LoginName = #{loginname,jdbcType=VARCHAR},
      HeadImage = #{headimage,jdbcType=VARCHAR},
      CityName = #{cityname,jdbcType=NVARCHAR},
      CityCode = #{citycode,jdbcType=INTEGER},
      Sex = #{sex,jdbcType=SMALLINT},
      Age = #{age,jdbcType=INTEGER},
      Education = #{education,jdbcType=NVARCHAR},
      LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      LastOptName = #{lastoptname,jdbcType=NVARCHAR},
      LastOptTime = #{lastopttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 验证手机号是否存在 2015年9月28日11:56:13 茹化肖 -->
  <select id="isExistPhone" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.PhoneNo=#{phoneNo,jdbcType=VARCHAR}
  </select>
  <!-- 通过手机号修改密码 -->
  <update  id="forgotPassword" parameterType="com.renrentui.renrenentity.req.ForgotPwdReq" >
    UPDATE dbo.Clienter SET Password='${passWord}' WHERE PhoneNo='${phoneNo}'
  </update>
  <!-- 验证用户密码是否正确 2015年9月28日11:56:13 茹化肖 -->
  <select id="isRightPwd" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.id=#{uid,jdbcType=BIGINT} AND C.Password=#{md5Pwd,jdbcType=VARCHAR}
  </select>
  <!-- 通过CID修改密码 茹化肖 2015年9月28日15:12:18-->
  <update  id="modifyPwdUserc" parameterType="com.renrentui.renrenentity.req.ModifyPwdReq" >
    UPDATE dbo.Clienter SET Password='${newPwd}' WHERE id =${userId}
  </update>
  <!-- 查询C端用户信息 2015年9月28日16:24:39 WangXuDan -->
  <select id="queryClienter" resultType="com.renrentui.renrenentity.Clienter" parameterType="com.renrentui.renrenentity.req.SignInReq" >
    SELECT    Id
		    , ClienterName
		    , PhoneNo
		    , Password
		    , LoginName
		    , HeadImage
		    , CityName
		    , CityCode
		    , Sex
		    , Age
		    , Education
		    , LastLoginTime
		    , CreateTime
		    , Status
		    , LastOptName
		    , LastOptTime
    FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.PhoneNo=#{phoneNo,jdbcType=VARCHAR}
		AND C.Password=#{Password,jdbcType=VARCHAR}
  </select>
  <!-- 根据用户Id判断是否存在  2015年9月28日17:20:58 WangXuDan -->
  <select id="isExistUserC" resultType="int" parameterType="java.util.HashMap" >
    SELECT COUNT(1) FROM  dbo.Clienter AS C (NOLOCK)
	WHERE C.Id=#{userId}
  </select>
</mapper>