<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterWxDao">
	<insert id="insert" parameterType="com.renrentui.renrenentity.ClienterWx">
	insert into dbo.ClienterWx ( OpenId, FromUserName, WxId, FollowStatus,
		FollowTime, UnFollowTime, ClienterId )
		values
		(#{openId,jdbcType=VARCHAR},
		#{fromUserName,jdbcType=VARCHAR},
		#{wxId,jdbcType=VARCHAR},
		#{followStatus,jdbcType=INTEGER},
		getdate(),
		null,
		<!-- #{followTime,jdbcType=TIMESTAMP}, -->
		<!-- #{unFollowTime,jdbcType=TIMESTAMP} -->
		#{clienterId,jdbcType=INTEGER}
		)
	</insert>

	<select id="getClienterByOpenId" parameterType="java.lang.String" resultType="com.renrentui.renrenentity.ClienterWx">
		SELECT 
			Id,OpenId,FromUserName,WxId,FollowStatus,
			FollowTime,UnFollowTime,ClienterId 
		  FROM dbo.ClienterWx cw 
		where OpenId=#{openId,jdbcType=VARCHAR}
	</select>

	<update id="follow" parameterType="java.lang.String">
		update dbo.ClienterWx set
		FollowStatus=1,UnFollowTime=getdate() where
		OpenId=#{openId,jdbcType=VARCHAR}
	</update>

	<update id="unFollow" parameterType="java.lang.String">
		update dbo.ClienterWx set
		FollowStatus=0,UnFollowTime=getdate() where
		OpenId=#{openId,jdbcType=VARCHAR}
	</update>
	<!-- 微信是否关注公众号 wangchao -->
	<select id="isAttentionWx" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT FollowStatus FROM dbo.ClienterWx(nolock) where OpenId=#{openId,jdbcType=VARCHAR}
	</select>
	<!-- 是否领取过奖励 wangchao -->
	<select id="hadFetchRedbag" resultType="java.lang.String" parameterType="java.lang.String">
		select ISNULL(ClienterId,0) ClienterId from dbo.ClienterWx(nolock) where OpenId=#{openId,jdbcType=VARCHAR}
	</select>
	<!-- 获取微信公众关注列表where条件 wangchao -->
  	<sql id="getClienterWxList_Where">
		1=1 
	</sql>
	<sql id="getClienterWxList_Column">
	   cwx.Id ,
       cwx.OpenId ,
       cwx.FromUserName ,
       cwx.WxId ,
       cwx.FollowStatus ,
       cwx.FollowTime ,
       cwx.UnFollowTime ,
       c.PhoneNo ClienterPhoneNo,
       cwx.ClienterId 
	</sql>
   	<!-- 获取微信公众关注列表 wangchao -->
	  <select id="getlist" resultType="com.renrentui.renrenentity.domain.ClienterWxModel" parameterType="com.renrentui.renrenentity.req.PagedClienterWxReq" statementType="CALLABLE">  
	{call Sp_CustomPage2015_V1(
	' c.Id DESC ',
	'<include refid="getClienterWxList_Column"/> ',
	' dbo.ClienterWx cwx WITH(NOLOCK)
	  LEFT JOIN dbo.Clienter c WITH(NOLOCK) ON c.Id=cwx.ClienterId ',
	' <include refid="getClienterWxList_Where"/> ',
	#{pageSize,mode=IN,jdbcType=INTEGER},
	#{currentPage,mode=IN,jdbcType=INTEGER},
	1,
	#{totalRecord,mode=OUT,jdbcType=VARCHAR},
	#{totalPage,mode=OUT,jdbcType=VARCHAR}
	)} 
	  </select>
</mapper>