<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterWxDao">
	<insert id="insert" parameterType="com.renrentui.renrenentity.ClienterWx">
	insert into dbo.ClienterWx ( OpenId, FromUserName, WxId, FollowStatus,
		FollowTime, UnFollowTime, ClienterId )
		values
		(#{openId,jdbcType=VARCHAR},
		#{fromUserName,jdbcType=VARCHAR},
		#{wxId,jdbcType=VARCHAR},
		#{followStatus,jdbcType=INTEGER},
		getdate(),
		null,
		<!-- #{followTime,jdbcType=TIMESTAMP}, -->
		<!-- #{unFollowTime,jdbcType=TIMESTAMP} -->
		#{clienterId,jdbcType=INTEGER}
		)
	</insert>

	<select id="getClienterByOpenId" parameterType="java.lang.String" resultType="com.renrentui.renrenentity.ClienterWx">
		SELECT 
			Id,OpenId,FromUserName,WxId,FollowStatus,
			FollowTime,UnFollowTime,ClienterId 
		  FROM dbo.ClienterWx cw 
		where OpenId=#{openId,jdbcType=VARCHAR}
	</select>

	<update id="follow" parameterType="java.lang.String">
		update dbo.ClienterWx set
		FollowStatus=1,UnFollowTime=getdate() where
		OpenId=#{openId,jdbcType=VARCHAR}
	</update>

	<update id="unFollow" parameterType="java.lang.String">
		update dbo.ClienterWx set
		FollowStatus=0,UnFollowTime=getdate() where
		OpenId=#{openId,jdbcType=VARCHAR}
	</update>
	<!-- 微信是否关注公众号 wangchao -->
	<select id="isAttentionWx" resultType="int" parameterType="java.lang.Integer">
		SELECT FollowStatus FROM dbo.ClienterWx(nolock) where
		OpenId=#{openid,jdbcType=VARCHAR}
	</select>
	<!-- 是否领取过奖励 wangchao -->
	<select id="hadFetchRedbag" resultType="int" parameterType="java.lang.Integer">
		select ClienterId from dbo.ClienterWx(nolock) where
		OpenId=#{openid,jdbcType=VARCHAR}
	</select>

</mapper>