<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IClienterBalanceRecordDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.ClienterBalanceRecord" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterId" property="clienterId" jdbcType="BIGINT" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="AfterAmount" property="afterAmount" jdbcType="DECIMAL" />
    <result column="RecordType" property="recordType" jdbcType="SMALLINT" />
    <result column="OptName" property="optName" jdbcType="NVARCHAR" />
    <result column="OperateTime" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="OrderId" property="orderId" jdbcType="BIGINT" />
    <result column="RelationNo" property="relationNo" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />    
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, Amount, AfterAmount, RecordType, OptName, OperateTime, OrderId, RelationNo, 
    Remark,Status
  </sql>

    <select id="getRecordList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
  	Id, Amount,RecordType,OperateTime,Remark
    from ClienterBalanceRecord with(nolock)
    where ClienterId = #{clienterId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where OrderId = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord"  >
       insert into
		ClienterBalanceRecord
		(ClienterId,Amount,AfterAmount,RecordType,OptName,OrderId,RelationNo,Remark,status)
		select #{clienterId,jdbcType=INTEGER},
		#{amount,jdbcType=DECIMAL},cb.Balance,#{recordType,jdbcType=SMALLINT},#{optName,jdbcType=NVARCHAR}
		,#{orderId,jdbcType=BIGINT},#{relationNo,jdbcType=VARCHAR},#{remark,jdbcType=NVARCHAR},#{status,jdbcType=SMALLINT}
		from dbo.ClienterBalance  as cb where cb.ClienterId=#{clienterId,jdbcType=BIGINT} ;
		select @@IDENTITY
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    insert into ClienterBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="afteramount != null" >
        AfterAmount,
      </if>
      <if test="recordtype != null" >
        RecordType,
      </if>
      <if test="optname != null" >
        OptName,
      </if>
      <if test="operatetime != null" >
        OperateTime,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
      <if test="relationno != null" >
        RelationNo,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="afteramount != null" >
        #{afteramount,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    <set >
      <if test="clienterId != null" >
        ClienterId = #{clienterId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="afterAmount != null" >
        AfterAmount = #{afterAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordType != null" >
        RecordType = #{recordType,jdbcType=SMALLINT},
      </if>
      <if test="optName != null" >
        OptName = #{optName,jdbcType=NVARCHAR},
      </if>
      <if test="operateTime != null" >
        OperateTime = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        OrderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="relationNo != null" >
        RelationNo = #{relationNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
       <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    set ClienterId = #{clienterId,jdbcType=BIGINT},
      Amount = #{amount,jdbcType=DECIMAL},
      AfterAmount = #{afteramount,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      OptName = #{optname,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      OrderId = #{orderid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateStatusByOrderId" parameterType="com.renrentui.renrenentity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    set   status = #{status,jdbcType=SMALLINT}   
    where OrderId = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>