<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IOrderDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.Order" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterId" property="clienterid" jdbcType="BIGINT" />
    <result column="TaskId" property="taskid" jdbcType="BIGINT" />
    <result column="OrderStatus" property="orderstatus" jdbcType="SMALLINT" />
    <result column="AuditStatus" property="auditstatus" jdbcType="SMALLINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="FinishTime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="AuditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="AuditName" property="auditname" jdbcType="TIMESTAMP" />
    <result column="DealLineTime" property="deallinetime" jdbcType="TIMESTAMP" />
    <result column="CancelTime" property="canceltime" jdbcType="TIMESTAMP" />
    <result column="CancelName" property="cancelname" jdbcType="NVARCHAR" />
    <result column="CancelRemark" property="cancelremark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, TaskId, OrderStatus, AuditStatus, CreateTime, FinishTime, AuditTime, 
    AuditName, DealLineTime, CancelTime, CancelName, CancelRemark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Order
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Order
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.Order" >
    insert into Order (Id, ClienterId, TaskId, 
      OrderStatus, AuditStatus, CreateTime, 
      FinishTime, AuditTime, AuditName, 
      DealLineTime, CancelTime, CancelName, 
      CancelRemark)
    values (#{id,jdbcType=BIGINT}, #{clienterid,jdbcType=BIGINT}, #{taskid,jdbcType=BIGINT}, 
      #{orderstatus,jdbcType=SMALLINT}, #{auditstatus,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{finishtime,jdbcType=TIMESTAMP}, #{audittime,jdbcType=TIMESTAMP}, #{auditname,jdbcType=TIMESTAMP}, 
      #{deallinetime,jdbcType=TIMESTAMP}, #{canceltime,jdbcType=TIMESTAMP}, #{cancelname,jdbcType=NVARCHAR}, 
      #{cancelremark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.renrentui.renrenentity.Order" >
    insert into Order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="taskid != null" >
        TaskId,
      </if>
      <if test="orderstatus != null" >
        OrderStatus,
      </if>
      <if test="auditstatus != null" >
        AuditStatus,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="finishtime != null" >
        FinishTime,
      </if>
      <if test="audittime != null" >
        AuditTime,
      </if>
      <if test="auditname != null" >
        AuditName,
      </if>
      <if test="deallinetime != null" >
        DealLineTime,
      </if>
      <if test="canceltime != null" >
        CancelTime,
      </if>
      <if test="cancelname != null" >
        CancelName,
      </if>
      <if test="cancelremark != null" >
        CancelRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=BIGINT},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=SMALLINT},
      </if>
      <if test="auditstatus != null" >
        #{auditstatus,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditname != null" >
        #{auditname,jdbcType=TIMESTAMP},
      </if>
      <if test="deallinetime != null" >
        #{deallinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="canceltime != null" >
        #{canceltime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelname != null" >
        #{cancelname,jdbcType=NVARCHAR},
      </if>
      <if test="cancelremark != null" >
        #{cancelremark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrentui.renrenentity.Order" >
    update Order
    <set >
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        TaskId = #{taskid,jdbcType=BIGINT},
      </if>
      <if test="orderstatus != null" >
        OrderStatus = #{orderstatus,jdbcType=SMALLINT},
      </if>
      <if test="auditstatus != null" >
        AuditStatus = #{auditstatus,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="audittime != null" >
        AuditTime = #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditname != null" >
        AuditName = #{auditname,jdbcType=TIMESTAMP},
      </if>
      <if test="deallinetime != null" >
        DealLineTime = #{deallinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="canceltime != null" >
        CancelTime = #{canceltime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelname != null" >
        CancelName = #{cancelname,jdbcType=NVARCHAR},
      </if>
      <if test="cancelremark != null" >
        CancelRemark = #{cancelremark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrentui.renrenentity.Order" >
    update Order
    set ClienterId = #{clienterid,jdbcType=BIGINT},
      TaskId = #{taskid,jdbcType=BIGINT},
      OrderStatus = #{orderstatus,jdbcType=SMALLINT},
      AuditStatus = #{auditstatus,jdbcType=SMALLINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      AuditTime = #{audittime,jdbcType=TIMESTAMP},
      AuditName = #{auditname,jdbcType=TIMESTAMP},
      DealLineTime = #{deallinetime,jdbcType=TIMESTAMP},
      CancelTime = #{canceltime,jdbcType=TIMESTAMP},
      CancelName = #{cancelname,jdbcType=NVARCHAR},
      CancelRemark = #{cancelremark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 创建一个订单 茹化肖 2015年9月30日09:57:52 -->
  <insert id="addOrder" parameterType="com.renrentui.renrenentity.Order">
     <selectKey resultType="java.lang.Long" keyProperty="id"
				order="AFTER">
				select @@IDENTITY as id
	  </selectKey>
INSERT INTO dbo.[Order]
        ( OrderNo ,
          ClienterId ,
          TaskId ,
          DealLineTime,
          Amount 
        )
VALUES  ( '${orderNo}' , 
          ${clienterId} , 
          ${taskId} , 
          '${deadlineTime}',
          ${amount}
        )
  </insert>
  <!-- 验证订单是否可以取消 2015年9月30日13:36:59茹化肖 -->
  <select id="checkCancelOrder" parameterType="com.renrentui.renrenentity.req.CancelTaskReq" resultType="com.renrentui.renrenentity.domain.CheckCancelOrder">
  SELECT TOP 1 CASE WHEN o.OrderStatus=0 AND FinishTime IS NULL THEN 1 ELSE 0 END AS CancelCan,
CASE WHEN o.OrderStatus=1 AND FinishTime IS NOT NULL THEN 1 ELSE 0 END AS IsComplete,
CASE WHEN o.OrderStatus=2 OR o.OrderStatus=3 THEN 1 ELSE 0 END AS IsCancle,
OrderNo,
TaskId
FROM  dbo.[Order] AS o 
WHERE o.id=${orderId} AND ClienterId=${userId}
  </select>
  
  <!-- 取消订单 2015年9月30日13:36:59茹化肖 -->
  <update id="cancelOrder" parameterType="com.renrentui.renrenentity.req.CancelTaskReq">
UPDATE dbo.[Order] SET 
OrderStatus=2,
CancelTime=GETDATE(),
CancelName='${userId}',
CancelRemark=(SELECT ClienterName FROM dbo.Clienter AS c WHERE c.id=${userId})
WHERE id=${orderId}
  </update>
  
  <!-- 验证合同是否可以提交  2015年9月30日13:36:59茹化肖 -->
  <select id="checkOrderSubmit" parameterType="com.renrentui.renrenentity.req.SubmitTaskReq" resultType="com.renrentui.renrenentity.domain.CheckSubmitTask">
SELECT TOP 1
CASE WHEN (o.OrderStatus=0 AND FinishTime IS NULL AND DATEADD(HOUR,rrt.TaskCycle,rrt.EndTime)>GETDATE() AND rrt.Status=1) OR (o.OrderStatus=1 AND o.AuditStatus=3 AND (rrt.Status=1 OR rrt.Status=3) ) THEN 1 ELSE 0 END AS SubmitCan,--1  可以提交
CASE WHEN o.OrderStatus=2 OR o.OrderStatus=3 THEN 1 ELSE 0 END AS IsCancel,-- 1订单已经取消
CASE WHEN (GETDATE()>rrt.EndTime AND FinishTime IS NULL) THEN 1 ELSE 0 END AS TaskClosed,--任务已经关闭 不可提交
CASE WHEN o.OrderStatus=1 AND o.AuditStatus=0 THEN 1 ELSE 0 END AS ReSubmit,--已经提交 等待审核
CASE WHEN (o.OrderStatus=1 AND o.AuditStatus=3) THEN 1 ELSE 0 END AS IsAgainSubmit
FROM dbo.[Order] AS o
INNER JOIN dbo.RenRenTask AS rrt ON o .TaskId=rrt.id
WHERE o.id=${orderId}
  </select>
  
    <!-- 完成订单 2015年9月30日13:36:59茹化肖 -->
  <update id="submitOrder" parameterType="com.renrentui.renrenentity.req.SubmitTaskReq">
UPDATE  dbo.[Order]
SET     OrderStatus = 1 ,
		AuditStatus=0,
        FinishTime = CASE WHEN FinishTime IS NULL THEN  GETDATE() ELSE FinishTime END
WHERE   id = ${orderId}
  </update>
  <!-- 获取订单审核列表 茹化肖-->
  
   <sql id="getOrderAuditListWhere">
		1=1		
		<if test="businessId != null and businessId!=0">
			b.id=${businessId}
		</if>		
		<if test="orderId != null and orderId!=0">
			 AND o.id=${orderId}
		</if>
	    <if test="auditStatus != -1">
			AND o.AuditStatus=${auditStatus}
			AND o.OrderStatus!=0
		</if>
		<if test="companyName != null and companyName!=''">
			AND b.CompanyName LIKE ''%${companyName}%''
		</if>
	
	</sql>
	<select id="getOrderAuditList" resultType="com.renrentui.renrenentity.domain.OrderAudit"
		parameterType="com.renrentui.renrenentity.req.PagedAuditorderReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' o.id DESC ',
		'
		o.OrderNo ,
        o.id AS orderId ,
        c.ClienterName ,
        b.CompanyName ,
        rrt.TaskTitle ,
        rrt.Status AS taskStatus ,
        rrt.AvailableCount ,
        o.Amount ,
        o.FinishTime ,
        o.AuditTime,
        (SELECT COUNT(1) FROM dbo.[Order] (NOLOCK) o2 WHERE o2.TaskId=rrt.id AND o.ClienterId=c.id AND o2.OrderStatus=1) AS compCount ,
        o.AuditStatus,
        datediff(mi,o.FinishTime,GETDATE()) AS TimeAfter,
        o.OrderStatus,
        o.ClienterId
		',
		' dbo.[Order] AS o ( NOLOCK )
        JOIN dbo.RenRenTask AS rrt ( NOLOCK ) ON rrt.Id = o.TaskId
        JOIN dbo.Business AS b ( NOLOCK ) ON b.Id = rrt.BusinessId
        JOIN dbo.TemplateSnapshot AS t ( NOLOCK ) ON rrt.snapshotTemplateId = t.id
        LEFT JOIN dbo.Clienter AS c ( NOLOCK ) ON o.ClienterId = c.Id ',
		'
		<include refid="getOrderAuditListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	  <!-- 超时取消订单服务  add by caoheyang 20151010 -->
	<update id="outTimeCanelOrder">
	update dbo.[Order] set OrderStatus=3
output inserted.OrderNo,inserted.Id,5,'系统服务','超时订单自动过期' into dbo.OrderLog (orderno,orderid,
OptType,
OptName,
Remark)
where CancelTime <![CDATA[<]]> =GETDATE() and OrderStatus=0
	</update>

	
  <!-- 审核订单2015年9月30日13:36:59茹化肖 -->
  <update id="orderAudit" parameterType="com.renrentui.renrenentity.req.OrderAuditReq">
UPDATE dbo.[Order] SET AuditStatus=${auditStatus},AuditTime=GETDATE(),AuditName='${auditName}'
WHERE id=${orderId}
  </update>
  
    <!-- 获取合同头  2015年9月30日13:36:59茹化肖 -->
  <select id="getOrderInfo" parameterType="com.renrentui.renrenentity.req.OrderChildReq" resultType="com.renrentui.renrenentity.domain.OrderChildInfoModel">
SELECT rrt.TaskTitle,c.ClienterName,b.CompanyName FROM dbo.[Order] AS o (NOLOCK)
        JOIN dbo.RenRenTask AS rrt (NOLOCK) ON o.TaskId=rrt.id
		JOIN dbo.Clienter AS c (nolock) ON c.id=o.ClienterId
		JOIN dbo.Business AS b (NOLOCK) ON B.ID=rrt.BusinessId
        WHERE o.id=${orderId}
  </select>
  
     <!-- 获取合同控件值信息  2015年9月30日13:36:59茹化肖 -->
  <select id="getOrderChildList" parameterType="com.renrentui.renrenentity.req.OrderChildReq" resultType="com.renrentui.renrenentity.domain.OrderChildModel">
SELECT  
        Title ,
        oc.ControlValue ,
        tc.ControlType
FROM    dbo.OrderChild AS oc
        LEFT JOIN dbo.TemplateDetailSnapshot AS tds ON tds.SnapshotTemplateId = oc.TemplateSnapshotId  AND tds.Name = oc.ControlName
        LEFT JOIN dbo.TemplateControl AS tc ON tds.ControlId = tc.id
WHERE   oc.IsEnable = 1
        AND oc.OrderId =${orderId}
  </select>
</mapper>