<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IPublicProvinceCityDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.PublicProvinceCity" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Code" property="code" jdbcType="INTEGER" />
    <result column="ParentCode" property="parentcode" jdbcType="INTEGER" />
    <result column="Jibie" property="jibie" jdbcType="INTEGER" />
    <result column="LowerAcronym" property="loweracronym" jdbcType="NVARCHAR" />
    <result column="UpperAcronym" property="upperacronym" jdbcType="NVARCHAR" />
    <result column="LowerFullPinyin" property="lowerfullpinyin" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.renrentui.renrenentity.PublicProvinceCity" >
    insert into PublicProvinceCity (ID, Name, Code, 
      ParentCode, Jibie, LowerAcronym, 
      UpperAcronym, LowerFullPinyin)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{code,jdbcType=INTEGER}, 
      #{parentcode,jdbcType=INTEGER}, #{jibie,jdbcType=INTEGER}, #{loweracronym,jdbcType=NVARCHAR}, 
      #{upperacronym,jdbcType=NVARCHAR}, #{lowerfullpinyin,jdbcType=NVARCHAR})
  </insert>
  <select id="getOpenCityList"  resultType="com.renrentui.renrenentity.PublicProvinceCity" 
    parameterType="java.lang.String" >
	select  p.code ProvinceCode,
	        p.name ProvinceName,
	        c.code CityCode,
	        c.name CityName,
	        d.code DistrictCode,
	        d.name DistrictName,
	        d.IsPublic
	from    PublicProvinceCity d with ( nolock )
	        join PublicProvinceCity c with ( nolock ) on d.parentid = c.code
	        join PublicProvinceCity p with ( nolock ) on c.parentid = p.code
	 where   1 = 1  
	 <if test="cityName != null" >
	     and c.name like '%${cityName}%'
     </if>
  </select>
    <select id="getAllOpenCity"  resultType="com.renrentui.renrenentity.PublicProvinceCity" >
	select  * 
	from    dbo.PublicProvinceCity a ( nolock )
  </select>
</mapper>