<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IPublicProvinceCityDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.PublicProvinceCity" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Code" property="code" jdbcType="INTEGER" />
    <result column="ParentCode" property="parentcode" jdbcType="INTEGER" />
    <result column="Jibie" property="jibie" jdbcType="INTEGER" />
    <result column="LowerAcronym" property="loweracronym" jdbcType="NVARCHAR" />
    <result column="UpperAcronym" property="upperacronym" jdbcType="NVARCHAR" />
    <result column="LowerFullPinyin" property="lowerfullpinyin" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.renrentui.renrenentity.PublicProvinceCity" >
    insert into PublicProvinceCity (ID, Name, Code, 
      ParentCode, Jibie, LowerAcronym, 
      UpperAcronym, LowerFullPinyin)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{code,jdbcType=INTEGER}, 
      #{parentcode,jdbcType=INTEGER}, #{jibie,jdbcType=INTEGER}, #{loweracronym,jdbcType=NVARCHAR}, 
      #{upperacronym,jdbcType=NVARCHAR}, #{lowerfullpinyin,jdbcType=NVARCHAR})
  </insert>
  <select id="getOpenCityList"  resultType="com.renrentui.renrenentity.domain.OpenCityModel" 
    parameterType="com.renrentui.renrenentity.req.HotAndPublicCityReq" >
	select  p.code ProvinceCode,
	        p.name ProvinceName,
	        c.code CityCode,
	        c.name CityName,
	        d.code DistrictCode,
	        d.name DistrictName,
	        d.IsPublic,
	        d.IsHot 
	from    PublicProvinceCity d with ( nolock )
	        join PublicProvinceCity c with ( nolock ) on d.ParentCode = c.code
	        join PublicProvinceCity p with ( nolock ) on c.ParentCode = p.code
	 where   d.jibie=4 
	 <if test="cityName != null" >
	     and c.name like '%${cityName}%'
     </if>
  </select>
    <select id="getAllOpenCity"  resultType="com.renrentui.renrenentity.PublicProvinceCity" >
	select  * 
	from    dbo.PublicProvinceCity a ( nolock )
	where a.ispublic=1  AND (a.Jibie=2 OR a.Jibie=3)
  </select>
  <update id="modifyCity" parameterType="com.renrentui.renrenentity.domain.ModifyCityDomain" >
  <!-- 开放城市 打开设置 -->
  	 <if test="openPublicCityCodeList != null">
  	 	 DECLARE @cityCode INT
	     
	     update dbo.PublicProvinceCity set IsPublic = 1 where Code in 
	     <foreach collection="openPublicCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach> ;
	     SELECT  @cityCode=ParentCode  FROM PublicProvinceCity WHERE code in 
	      <foreach collection="openPublicCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach>;
	     
	     update dbo.PublicProvinceCity set IsPublic = 1 where Code =@cityCode;
	     
	     update dbo.PublicProvinceCity set IsPublic = 1 where Code in (
	      SELECT d.ParentCode  FROM  PublicProvinceCity d WITH(NOLOCK) where d.code=@cityCode
	      );
     </if>
     <!-- 开放城市 关闭设置 -->
     <if test="closePublicCityCodeList != null">
     	 DECLARE @closePublicCityCode INT
     	 DECLARE @closePublicProvenceCode INT
	     update dbo.PublicProvinceCity set IsPublic = 0 where Code in 
	     <foreach collection="closePublicCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach> ;
	      SELECT  @closePublicCityCode=ParentCode  FROM PublicProvinceCity WHERE code in 
	      <foreach collection="closePublicCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach>;
	     IF not EXISTS(select 1 from PublicProvinceCity where IsPublic=1 and ParentCode=@closePublicCityCode)
	     update dbo.PublicProvinceCity set IsPublic = 0 where Code =@closePublicCityCode;
	     
	     SELECT @closePublicProvenceCode=ParentCode  FROM  PublicProvinceCity  WITH(NOLOCK) where code=@closePublicCityCode;
	  	IF not EXISTS(select 1 from PublicProvinceCity where IsPublic=1 and ParentCode=@closePublicProvenceCode)
	    update dbo.PublicProvinceCity set IsPublic = 0 where Code =@closePublicProvenceCode;
	 </if>
     <!-- 热门城市 打开设置 -->
     <if test="openHotCityCodeList != null">
     	 DECLARE @hotCityCode INT
	     update dbo.PublicProvinceCity set IsHot = 1 where Code in 
	     <foreach collection="openHotCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach> ;
	     SELECT  @hotCityCode=ParentCode  FROM PublicProvinceCity WHERE code in 
	      <foreach collection="openHotCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach>;
	     update dbo.PublicProvinceCity set IsHot = 1 where Code =@hotCityCode;

	     update dbo.PublicProvinceCity set IsHot = 1 where Code in (
	     SELECT d.ParentCode  FROM  PublicProvinceCity d WITH(NOLOCK) where d.code=@hotCityCode
	     );
     </if> 
     
	 <!-- 热门城市 关闭设置 -->
     <if test="closeHotCityCodeList != null">
             DECLARE @closeHotCityCode INT
           	 DECLARE @closeHotProvenceCode INT
	     update dbo.PublicProvinceCity set IsHot = 0 where Code in 
	     <foreach collection="closeHotCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach> ;
	      SELECT  @closeHotCityCode=ParentCode  FROM PublicProvinceCity WHERE code in 
	      <foreach collection="closeHotCityCodeList" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach>;
	     IF not EXISTS(select 1 from PublicProvinceCity where IsHot=1 and ParentCode=@closeHotCityCode)
	     update dbo.PublicProvinceCity set IsHot = 0 where Code =@closeHotCityCode;
	    
	    SELECT @closeHotProvenceCode=ParentCode  FROM  PublicProvinceCity  WITH(NOLOCK) where code=@closeHotCityCode;
	  	IF not EXISTS(select 1 from PublicProvinceCity where IsHot=1 and ParentCode=@closeHotProvenceCode)
	    update dbo.PublicProvinceCity set IsHot = 0 where Code =@closeHotProvenceCode;
	 </if>
  </update>
</mapper>