<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IRoleAuthDao" >
  <update id="modifyAuthList" parameterType="java.util.List">
	 <foreach collection="list" index="index" item="item">    
IF EXISTS ( SELECT  1
            FROM    RoleAuth with(nolock)
            WHERE   RoleId = #{item.roleId,jdbcType=INTEGER} 
                    AND MenuId = #{item.menuId,jdbcType=INTEGER} )
    BEGIN
        DELETE  RoleAuth
        WHERE   RoleId = #{item.roleId,jdbcType=INTEGER}
                AND MenuId = #{item.menuId,jdbcType=INTEGER}
    END
ELSE
    INSERT  INTO RoleAuth
            (RoleId, MenuId,CreateTime,OptName)
    VALUES  ( #{item.roleId,jdbcType=INTEGER}, #{item.menuId,jdbcType=INTEGER},
    getdate(),#{item.optName,jdbcType=NVARCHAR} )
     </foreach>
	</update>
</mapper>