<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.IRoleInfoDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.RoleInfo" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="RoleName" property="rolename" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
    <result column="OptName" property="optname" jdbcType="NVARCHAR" />
    <result column="BeLock" property="belock" jdbcType="BIT" />
  </resultMap>
    <select id="selectList" resultType="com.renrentui.renrenentity.RoleInfo">
    select * from RoleInfo with(nolock)
  </select>
  
  <insert id="insert" parameterType="com.renrentui.renrenentity.RoleInfo" >
    insert into RoleInfo (RoleName, BeLock,Remark,CreateTime,OptName)
    values (#{roleName,jdbcType=VARCHAR}, #{beLock,jdbcType=BIT},
    #{remark,jdbcType=VARCHAR},getdate(),#{optName,jdbcType=VARCHAR})
  </insert>
<update id="update" parameterType="com.renrentui.renrenentity.RoleInfo" >
    update RoleInfo
    set RoleName = #{roleName,jdbcType=VARCHAR},
    OptName=#{optName,jdbcType=VARCHAR},
      BeLock = #{beLock,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>