<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITaskDatumDao" >
<!-- 插入任务数据表  茹化肖 2015年11月19日23:28:56-->
<insert id="insertTaskDatum"  parameterType="com.renrentui.renrenentity.domain.TaskDatum">
 <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
select @@IDENTITY as id
 </selectKey>
INSERT INTO dbo.TaskDatum
        ( CtId ,
          ClienterId ,
          TaskId 

        )
VALUES  ( ${ctId} , 
          ${clienterId} , 
          ${taskId}
        )	
</insert>
<!-- 插入任务详细资料数据 茹化肖 2015年11月19日23:41:17 -->
<insert id="insertTaskDatumChild" parameterType="com.renrentui.renrenentity.domain.TaskDatumChild">
 <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
select @@IDENTITY as id
 </selectKey>
 INSERT INTO dbo.TaskDatumChild
        ( TaskDatumId ,
          ControlName ,
          ControlValue ,
          IsEnable
        )
VALUES  ( ${taskDatumId} , 
          '${controlName}' , 
          '${controlValue}' , 
          1 
        )
</insert>
 <!--  查询我的资料审核列表表头上每种状态的总数，zhaohl,20151125 -->
  <select id="getMyTaskDatumListTotal" resultType="java.util.HashMap" parameterType="com.renrentui.renrenentity.req.TaskDatumReq" >
	  
  SELECT   	
            a.status,
            count(*) as totalNum
  FROM      TaskDatum a
            JOIN RenRenTask b ON a.TaskId = b.id
  where a.ClienterId = ${userId} 
  	<if test="taskId > 0" >
	      AND a.TaskId = ${taskId}
	</if>
 group by a.Status
  </select> 
 <!--  查询我的资料审核列表，zhaohl,20151125 -->
  <select id="getMyTaskDatumList" resultType="com.renrentui.renrenentity.domain.TaskDatumModel" parameterType="com.renrentui.renrenentity.req.TaskDatumReq" >
	  
  SELECT   	
  <if test="itemsCount > 0" >
		top  ${itemsCount} 
  </if>
	        b.id AS taskId ,
            b.TaskTitle as taskName,
            b.amount ,
            b.TaskType ,
            b.Status AS taskStatus ,
            b.auditCycle,
            a.id AS taskDatumId ,
            a.Status AS auditStatus ,
            a.CreateDate ,
            a.AuditTime
  FROM      TaskDatum a
            JOIN RenRenTask b ON a.TaskId = b.id
  where a.ClienterId = ${userId} 
  		and a.status=${auditStatus}
  	<if test="taskId > 0" >
	      AND a.TaskId = ${taskId}
	</if>
    <if test="nextId > 0" >
	       and   a.id > ${nextId}
	</if>
	order by a.CreateDate asc;
  </select> 
   <!--  查询我的资料审核列表中每个资料需要显示的内容，zhaohl,20151125 -->
    <select id="getMyTaskDatumTitleList" resultType="com.renrentui.renrenentity.domain.TaskDatumTitle" parameterType="com.renrentui.renrenentity.req.TaskDatumReq" >
            SELECT  b.id AS taskDatumId ,
                    g.groupType ,
                    k.controlName ,
                    k.controlValue,
                    m.orderNum
            FROM    ClienterTask a WITH ( NOLOCK )
                    JOIN TaskDatum b WITH ( NOLOCK ) ON b.TaskId = a.TaskId
                    JOIN ( SELECT   g1.taskid ,
                                    MIN(g1.id) AS groupid
                           FROM     TemplateGroup g1 WITH ( NOLOCK )
                           join ClienterTask c2 WITH ( NOLOCK ) on g1.taskid=c2.taskid
                           WHERE   c2.ClienterId = ${userId}
							<if test="taskId > 0" >
							    AND c2.TaskId = ${taskId}
							</if>
                           GROUP BY g1.taskid
                         ) TB ON b.TaskId = tb.taskid
                    JOIN TemplateGroup g WITH ( NOLOCK ) ON tb.groupid = g.id
                    JOIN TemplateDetail m WITH ( NOLOCK ) ON m.templategroupid = g.id
                    JOIN TaskDatumChild k WITH ( NOLOCK ) ON m.NAME = k.controlname
                                             AND k.taskdatumid = b.id
            WHERE   a.ClienterId = ${userId}
	                <if test="taskId > 0" >
					    AND a.TaskId = ${taskId}
					</if>
         
  </select> 
  <!--  查询(资料对应的任务或某个任务)的模板的分组信息列表，zhaohl,20151126 -->
    <select id="getTaskDatumGroupList" resultType="com.renrentui.renrenentity.domain.TaskDatumDetailGroup" 
    parameterType="com.renrentui.renrenentity.req.TaskDatumDetailReq" >
            	    SELECT  
					        ${taskDatumId} AS TaskDatumId ,
                            ${taskId} as TaskId ,
                            a.id AS groupId ,
                            a.GroupType ,
                            a.Title
                    FROM     TemplateGroup a WITH ( NOLOCK ) 
                            <if test="taskDatumId > 0" >
					     		JOIN TaskDatum b WITH ( NOLOCK ) ON a.TaskId = b.TaskId
			 				</if>
			        WHERE a.TaskId=${taskId}
			           <if test="taskDatumId > 0" >
							and b.id=${taskDatumId}
			 		   </if>
  </select> 
    <!--  查询(资料对应的任务或某个任务)的模板的控件值列表，zhaohl,20151126 -->
    <select id="getTaskDatumDetailList" resultType="com.renrentui.renrenentity.domain.TaskDatumDetail" 
    parameterType="com.renrentui.renrenentity.req.TaskDatumDetailReq" >
             SELECT   		b.ControlId as controlTypeId,
                            b.OrderNum ,
                            b.Name as controlKey,
                            b.Title as controlTitle,
                            b.DefaultValue ,
                            b.ControlData ,
                            b.TemplateGroupId as groupId,
                            <if test="taskDatumId > 0" >
                            d.ControlValue
			 				</if>
                            <if test="0 >= taskDatumId" >
			     			'' as ControlValue
	 						</if> 
                    FROM    TemplateGroup a WITH ( NOLOCK ) 
                            JOIN TemplateDetail b WITH ( NOLOCK ) ON a.id = b.TemplateGroupId
                            <if test="taskDatumId > 0" >
                            join TaskDatum c WITH ( NOLOCK ) ON a.TaskId = c.TaskId
					     	JOIN TaskDatumChild d WITH ( NOLOCK ) ON c.id = d.TaskDatumId
                                                              AND b.Name = d.ControlName
			 				</if>

			     	WHERE a.TaskId=${taskId}
	 				<if test="taskDatumId > 0" >
                        and c.id=${taskDatumId}
			 		</if> 
  </select> 
</mapper>