<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITaskCityRelationDao" >
  <sql id="Base_Column_List" >
    Id, TaskId, CityCode, CityName
  </sql>
  <select id="selectByTaskId" resultType="com.renrentui.renrenentity.TaskCityRelation" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TaskCityRelation
    where taskId = #{taskId,jdbcType=BIGINT}
  </select>
  <select id="selectByTaskIds" resultType="com.renrentui.renrenentity.TaskCityRelation"
   parameterType="java.util.List" >
    select 
    <include refid="Base_Column_List" />
    from TaskCityRelation with(nolock) 
    where taskId in
    <foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
  </select>
  <delete id="deleteByTaskId" parameterType="java.lang.Long" >
    delete from TaskCityRelation
    where TaskId = #{taskId,jdbcType=BIGINT}
  </delete>
    <update id="insertList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" >
	insert into TaskCityRelation (TaskId, CityCode, CityName)     
	values (#{item.taskId,jdbcType=BIGINT}, #{item.cityCode,jdbcType=INTEGER}, 
      #{item.cityName,jdbcType=NVARCHAR});
		</foreach>
	</update>
</mapper>