<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITemplateSnapshotDao" >
  <sql id="Base_Column_List" >
    Id, TemplateId,BusinessId, TemplateName, CreateName, CreateTime, LastOptName, LastOptTime, Status, 
    Remark
  </sql>
  <select id="detailById" resultType="com.renrentui.renrenentity.TemplateSnapshot" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TemplateSnapshot
    where Id = #{id,jdbcType=BIGINT}
  </select>
    <select id="detailByTemplateId" resultType="com.renrentui.renrenentity.TemplateSnapshot" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TemplateSnapshot
    where templateId = #{templateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByTemplateId" parameterType="java.lang.Long" >
    delete from TemplateSnapshot
    where TemplateId = #{templateId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteById" parameterType="java.lang.Long" >
    delete from TemplateSnapshot
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="copySnapshot" parameterType="com.renrentui.renrenentity.req.TemplateSnapshotReq" >
  	  <selectKey resultType="java.lang.Long" keyProperty="templateSnapshotId"
				order="AFTER">
				select @@IDENTITY as templateSnapshotId
	  </selectKey>
	  Insert into TemplateSnapshot(TemplateId,BusinessId, TemplateName, CreateName, CreateTime, LastOptName, LastOptTime, Status, 
    Remark) 
      select #{templateId,jdbcType=BIGINT}, BusinessId, TemplateName, CreateName, CreateTime, LastOptName, LastOptTime, Status, 
    Remark from Template WHERE id=#{templateId,jdbcType=BIGINT}
  </insert>
</mapper>