<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITemplateDetailSnapshotDao" >
  <delete id="deleteBySnapshotTemplateId" parameterType="java.lang.Long" >
    delete from TemplateDetailSnapshot
    where snapshotTemplateId = #{snapshotTemplateId,jdbcType=BIGINT}
  </delete>
  <insert id="copySnapshot" parameterType="java.util.HashMap" >
	  Insert into TemplateDetailSnapshot(SnapshotTemplateId,ControlId, OrderNum, Name, Title, DefaultValue, ControlData) 
      select #{snapshotId},ControlId, OrderNum, Name, Title, DefaultValue, ControlData from TemplateDetail WHERE TemplateId=#{templateId,jdbcType=BIGINT}
  </insert>
</mapper>