<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITemplateDetailDao" >
  <resultMap id="BaseResultMap" type="com.renrentui.renrenentity.TemplateDetail" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="TemplateId" property="templateId" jdbcType="BIGINT" />
    <result column="ControlId" property="controlid" jdbcType="BIGINT" />
    <result column="OrderNum" property="ordernum" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Title" property="title" jdbcType="NVARCHAR" />
    <result column="DefaultValue" property="defaultvalue" jdbcType="NVARCHAR" />
    <result column="ControlData" property="controldata" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, TemplateId,ControlId, OrderNum, Name, Title, DefaultValue, ControlData
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TemplateDetail
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.TemplateDetail" >
    insert into TemplateDetail (templateId,ControlId, OrderNum, 
      Name, Title, DefaultValue, 
      ControlData)
    values (#{item.templateId,jdbcType=BIGINT},#{controlId,jdbcType=BIGINT}, #{orderNum,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{title,jdbcType=NVARCHAR}, #{defaultValue,jdbcType=NVARCHAR}, 
      #{controlData,jdbcType=NVARCHAR})
  </insert>
  <update id="insertList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" >
	insert into TemplateDetail (templateId,ControlId, OrderNum,Name, Title, DefaultValue, ControlData)     
	values (#{item.templateId,jdbcType=BIGINT},#{item.controlId,jdbcType=BIGINT}, #{item.orderNum,jdbcType=INTEGER}, 
      #{item.name,jdbcType=NVARCHAR}, #{item.title,jdbcType=NVARCHAR}, #{item.defaultValue,jdbcType=NVARCHAR}, 
      #{item.controlData,jdbcType=NVARCHAR});
		</foreach>
	</update>
  <!-- 获取模板的控件详情13:49:49 -->
  <select id="getTemplateList" resultType="com.renrentui.renrenentity.domain.ControlInfo" parameterType="java.util.HashMap" >
    SELECT  TC.ControlType ,
        Title ,
        Name ,
        DefaultValue ,
        ControlData ,
        OrderNum
FROM    dbo.TemplateDetailSnapshot  AS td ( NOLOCK )
        LEFT JOIN dbo.TemplateControl AS tc ( NOLOCK ) ON td.ControlId = tc.id
WHERE   td.SnapshotTemplateId = #{templateId,jdbcType=INTEGER}
ORDER BY OrderNum ASC
  </select>

</mapper>