<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITemplateDetailDao" >
  <sql id="Base_Column_List" >
    Id, ControlId, OrderNum, Name, Title, DefaultValue, ControlData
  </sql>
  <!-- 插入一个模板详情 茹化肖 -->
  <insert id="insert" parameterType="com.renrentui.renrenentity.TemplateDetail" >
    insert into TemplateDetail (
    TemplateGroupId,
    ControlId,
    OrderNum, 
    Name,
    Title,
    DefaultValue, 
    ControlData)
    values (
    #{templateGroupId,jdbcType=BIGINT},
    #{controlId,jdbcType=BIGINT},
    #{orderNum,jdbcType=INTEGER}, 
    #{name,jdbcType=NVARCHAR},
    #{title,jdbcType=NVARCHAR},
    #{defaultValue,jdbcType=NVARCHAR}, 
    #{controlData,jdbcType=NVARCHAR})
  </insert>
  <update id="insertList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" >
	insert into TemplateDetail (ControlId, OrderNum,Name, Title, DefaultValue, ControlData)     
	values (#{item.controlId,jdbcType=BIGINT}, #{item.orderNum,jdbcType=INTEGER}, 
      #{item.name,jdbcType=NVARCHAR}, #{item.title,jdbcType=NVARCHAR}, #{item.defaultValue,jdbcType=NVARCHAR}, 
      #{item.controlData,jdbcType=NVARCHAR});
		</foreach>
	</update>
  <!-- 获取任务模板控件 茹化肖 2015年11月19日16:11:47 -->
  <select id="getTemCorModelsByTaskId" resultType="com.renrentui.renrenentity.domain.TemCorModel" parameterType="java.lang.Long">
  SELECT  
  		tg.id AS GroupId,
        GroupType ,
        tg.Title AS GroupTitle ,
        OrderNum ,
        Name ,
        td.Title as controlTitle,
        DefaultValue ,
        ControlData ,
        ControlType FROM dbo.TemplateGroup AS tg (NOLOCK)
JOIN dbo.TemplateDetail AS td(NOLOCK) ON tg.id=td.TemplateGroupId
JOIN dbo.TemplateControl AS tc ON td.ControlId=tc.id
WHERE tg.TaskId=#{taskId,jdbcType=BIGINT}
  </select>
</mapper>