<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrentui.renrenapi.dao.inter.ITemplateDao" >
  <sql id="Base_Column_List" >
    Id, BusinessId, TemplateName, CreateTime, LastOptName, LastOptTime, Status,createName,remark
  </sql>
  <select id="detail" resultType="com.renrentui.renrenentity.Template" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Template
    where Id = #{templateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Template
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrentui.renrenentity.Template" >
  	  <selectKey resultType="java.lang.Long" keyProperty="id"
				order="AFTER">
				select @@IDENTITY as id
	  </selectKey>
    insert into Template (BusinessId, TemplateName, createName,
      CreateTime, LastOptName, LastOptTime, remark,
      Status)
    values (#{businessId,jdbcType=BIGINT}, #{templateName,jdbcType=NVARCHAR}, #{createName,jdbcType=NVARCHAR},
      getdate(), #{lastOptName,jdbcType=NVARCHAR}, getdate(), #{remark,jdbcType=NVARCHAR},
      #{status,jdbcType=SMALLINT})
  </insert>
  
  
  <update id="update" parameterType="com.renrentui.renrenentity.Template" >
    update Template
    set BusinessId = #{businessId,jdbcType=BIGINT},
      TemplateName = #{templateName,jdbcType=NVARCHAR},
      LastOptName = #{lastOptName,jdbcType=NVARCHAR},
      LastOptTime = getdate(),
      remark=#{remark,jdbcType=NVARCHAR},
      Status = #{status,jdbcType=SMALLINT}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="queryTemplateWhere">
		1=1
		<if test="templateName != null and templateName!=''">
			and templateName like ''%${templateName}%''
		</if>
		<if test="createName != null and createName!=''">
			and createName like ''%${createName}%''
		</if>
		<if test="createTimeBegin != null and createTimeBegin!=''">
			and createTime >=''${createTimeBegin}''
		</if>
		<if test="createTimeEnd != null and createTimeEnd!=''">
			and ''${createTimeEnd} 23:59:59''>createTime
		</if>
		<if test="businessId != null and businessId>0">
			and businessId = ${businessId}
		</if>
		<if test="status != null and status>-1">
			and status = ${status}
		</if>
	</sql> 
<select id="queryTemplate" resultType="com.renrentui.renrenentity.domain.PageTemplateModel" 
parameterType="com.renrentui.renrenentity.req.PagedTemplateReq" statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
		' a.Id desc ',
		' a.*,b.companyname as businessName ',
		' Template(nolock) a join business b on a.businessId=b.id ',
		'
		<include refid="queryTemplateWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)} 
  </select>
      <select id="getAllList" resultType="com.renrentui.renrenentity.Template" 
      parameterType="com.renrentui.renrenentity.req.PagedTemplateReq">
    select 
    <include refid="Base_Column_List" />
    from Template with(nolock) where  <include refid="queryTemplateWhere" />
  </select>
  <update id="setTemplateStatus" parameterType="com.renrentui.renrenentity.req.UpdateStatusReq" >
	UPDATE dbo.Template 
	<set >
      <if test="status != null" >
       status=#{status,jdbcType=BIGINT},
      </if>
      <if test="userName != null and userName!=''" >
       LastOptName=#{userName,jdbcType=NVARCHAR},LastOptTime=getdate(),
      </if>
    </set>
    where Id = #{reocrdId,jdbcType=BIGINT} and status=#{oldStatus,jdbcType=BIGINT}
  </update>
</mapper>